.vault-gardener-confirmation-modal ul {
    margin: 1em 0;
    padding-left: 2em;
    list-style-type: disc;
    background-color: var(--background-secondary);
    padding: 10px 10px 10px 30px;
    border-radius: 4px;
    border: 1px solid var(--background-modifier-border);
}

.vault-gardener-confirmation-modal li {
    margin-bottom: 4px;
    color: var(--text-normal);
}

.vault-gardener-confirmation-modal h2 {
    border-bottom: 1px solid var(--background-modifier-border);
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.status-bar-item.plugin-vault-gardener {
    color: var(--interactive-accent);
    font-weight: 500;
}